:root {
  --ff:"Spartan", sans-serif;
  --fw: 700;
  --fs-l: 40px;
  --fs-m: 32px;
  --mn-s: .5rem;
  --mn-m: 1rem;
  --mn-l: 2rem;
  --main-bg:hsl(222, 26%, 31%);
  --toggle-n-keypad-bg:hsl(223, 31%, 20%);
  --screen-bg:hsl(224, 36%, 15%);
  --del-key-bg:hsl(225, 21%, 49%);
  --del-key-shadow:hsl(224, 28%, 35%);
  --eq-key-n-toggler-bg: hsl(6, 63%, 50%);
  --eq-key-shadow: hsl(6, 70%, 34%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --clr-pri: hsl(221, 14%, 31%);
  --clr-sec: hsl(0, 0, 100%);
  --eq-key-clr: white;
  --main-bg-2:hsl(0, 0%, 90%);
  --toggle-n-keypad-bg-2: hsl(0, 5%, 81%);
  --screen-bg-2:hsl(0, 0%, 93%);
  --del-key-bg-2:hsl(185, 42%, 37%);
  --del-key-shadow-2:hsl(185, 58%, 25%);
  --eq-key-n-toggler-bg-2: hsl(25, 98%, 40%);
  --eq-key-shadow-2: hsl(25, 99%, 27%);
  --key-bg-2: hsl(45, 7%, 89%);
  --key-shadow-2: hsl(35, 11%, 61%);
  --clr-pri-2: hsl(60, 10%, 19%);
  --clr-sec-2: var(--clr-pri-2);
  --eq-key-clr-2: white;
  --main-bg-3: hsl(268, 75%, 9%);
  --toggle-n-keypad-bg-3:hsl(268, 71%, 12%);
  --screen-bg-3:hsl(268, 71%, 12%);
  --del-key-bg-3:hsl(281, 89%, 26%);
  --del-key-shadow-3:hsl(285, 91%, 52%);
  --eq-key-n-toggler-bg-3: hsl(176, 100%, 44%);
  --eq-key-shadow-3: hsl(177, 92%, 70%);
  --key-bg-3:hsl(268, 47%, 21%);
  --key-shadow-3:hsl(290, 70%, 36%);
  --clr-pri-3: hsl(52, 100%, 62%);
  --clr-sec-3: var(--clr-pri-3);
  --eq-key-clr-3:hsl(198, 20%, 13%);
}

.theme-1 {
  --clr-pri: hsl(0, 0, 100%);
}

.theme-2 {
  --main-bg: var(--main-bg-2);
  --toggle-n-keypad-bg:var(--toggle-n-keypad-bg-2);
  --screen-bg:var(--screen-bg-2);
  --del-key-bg:var(--del-key-bg-2);
  --del-key-shadow:var(--del-key-shadow-2);
  --eq-key-n-toggler-bg:var(--eq-key-n-toggler-bg-2);
  --eq-key-shadow:var(--eq-key-shadow-2);
  --key-bg:var(--key-bg-2);
  --key-shadow:var(--key-shadow-2);
  --clr-pri:var(--clr-pri-2);
  --clr-sec:var( --clr-sec-2);
  --eq-key-clr: --eq-key-clr-2;
}

.theme-3 {
  --main-bg: var(--main-bg-3);
  --toggle-n-keypad-bg:var(--toggle-n-keypad-bg-3);
  --screen-bg:var(--screen-bg-3);
  --del-key-bg:var(--del-key-bg-3);
  --del-key-shadow:var(--del-key-shadow-3);
  --eq-key-n-toggler-bg:var(--eq-key-n-toggler-bg-3);
  --eq-key-shadow:var(--eq-key-shadow-3);
  --key-bg:var(--key-bg-3);
  --key-shadow:var(--key-shadow-3);
  --clr-pri:var(--clr-pri-3);
  --clr-sec:var( --clr-sec-3);
  --eq-key-clr: var(--eq-key-clr-3);
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  background: var(--main-bg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, span {
  display: inline-block;
}

main {
  width: min(405px, 90%);
}
main .top {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.3rem;
  color: var(--clr-sec);
}
main .top .name {
  font-size: var(--fs-l);
  font-weight: var(--fw);
  color: var(--clr-sec);
}
main .top .theme {
  margin-left: auto;
  margin-right: 1.3rem;
  font-size: 14px;
  align-self: flex-end;
  margin-bottom: 3px;
  color: var(--clr-sec);
}
main .top .toggle_container {
  display: flex;
  flex-flow: column;
  width: min(75px, 100%);
}
main .top .toggle_container .number_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2px;
}
main .top .toggle_container .number_container span {
  font-size: 12px;
  color: var(--clr-sec);
}
main .top .toggle_container .number_container span:hover {
  cursor: pointer;
}
main .top .toggle_container .number_container span + span {
  margin-left: var(--mn-s);
}
main .top .toggle_container .toggle {
  background: var(--toggle-n-keypad-bg);
  padding: 5px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .top .toggle_container .toggle .toggler {
  width: 17px;
  height: 17px;
  border-radius: 100px;
  background: var(--eq-key-n-toggler-bg);
  transition: 0.3s ease;
}
main .screen {
  border-radius: 10px;
  min-height: 95px;
  background: var(--screen-bg);
  padding: 1.7rem;
  margin-bottom: 1.5rem;
}
main .screen_text {
  font-size: var(--fs-m);
  text-align: right;
  width: 100%;
  color: var(--clr-sec);
  word-wrap: break-word;
  word-break: break-all;
}
main .keypad {
  display: grid;
  grid-template-columns: repeat(4, 21%);
  -ms-grid-columns: repeat(4, 21%);
  grid-template-rows: repeat(5, 1fr);
  -ms-grid-rows: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1.5rem;
  background: var(--toggle-n-keypad-bg);
  border-radius: 10px;
}
main .keypad button {
  padding: 0.8rem 0rem;
  font-family: var(--ff);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.3s ease;
}
main .keypad button:hover {
  transform: scale(0.95);
  box-shadow: none;
}
main .keypad .numbers {
  background: var(--key-bg);
  font-size: var(--fs-m);
  box-shadow: 0px 4px 0px 0px var(--key-shadow);
  color: var(--clr-pri);
}
main .keypad .delete {
  background: var(--del-key-bg);
  color: var(--clr-sec);
  box-shadow: 0px 4px 0px 0px var(--del-key-shadow);
  font-size: 18px;
}
main .keypad .reset {
  grid-column: 1/span 2;
  background: var(--del-key-bg);
  color: var(--clr-sec);
  box-shadow: 0px 4px 0px 0px var(--del-key-shadow);
  font-size: 18px;
}
main .keypad .equal {
  grid-column: 3/span 2;
  background: var(--eq-key-n-toggler-bg);
  box-shadow: 0px 4px 0px 0px var(--eq-key-shadow);
  color: var(--eq-key-clr);
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
