@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --Bright_Blue: hsl(220, 98%, 61%);
  --check-bg: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --block: block;
  --none: none;
  --flex: flex;
  --w: min(500px, 90%);
  --h-fs: 32px;
  --t-fs: 14px;
  --padding: 0.9rem 1rem;
  --br: 5px;
  --TH-1_bg: hsl(0, 0%, 98%);
  --TH-1_panel-bg: hsl(236, 33%, 92%);
  --TH-1_panel-text1: hsl(233, 11%, 84%);
  --TH-1_panel-text: hsl(236, 9%, 61%);
  --TH-1_li-text: hsl(235, 19%, 35%);
  --TH-2_bg: hsl(235, 21%, 11%);
  --TH-2_panel-bg: hsl(235, 24%, 19%);
  --TH-2_li-text: hsl(234, 39%, 85%);
  --TH-2_li-text-hover: hsl(236, 33%, 92%);
  --TH-2_text1: hsl(233, 14%, 35%);
  --TH-2_text2: hsl(237, 14%, 26%);
  --fs: 18px;
  --ff: "Josefin Sans", sans-serif;
  --fw-4: 400;
  --fw-7: 700;
  --mob-bg-dark: url(/images/bg-mobile-dark.jpg);
  --mob-bg-light: url(/images/bg-mobile-light.jpg);
  --des-bg-dark: url(/images/bg-desktop-dark.jpg);
  --des-bg-light: url(/images/bg-desktop-light.jpg);
}

.sun {
  --TH-2_bg: var(--TH-1_bg);
  --TH-2_panel-bg: var(--TH-1_panel-bg);
  --TH-2_li-text: var(--TH-1_li-text);
  --TH-2_text2: var(--TH-1_panel-text1);
  --TH-2_text1: var(--TH-1_panel-text);
  --mob-bg-dark: var(--mob-bg-light);
  --des-bg-dark: var(--des-bg-light);
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

label {
  display: block;
}

span,
input {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.flex, main .listContainer li .removeCont, main .listContainer li, main .status .stats, main .status, main .addContainer, main .logo .theme, main .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:active {
  color: var(--Bright_Blue);
}
a:hover {
  color: var(--TH-2_li-text-hover);
}

.clr {
  color: var(--Bright_Blue);
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: var(--fs);
  font-family: var(--ff);
  background-image: var(--mob-bg-dark);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--TH-2_bg);
}

input[type=checkbox] {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 1rem;
}
input[type=checkbox]:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--TH-2_panel-bg);
}
input[type=checkbox]:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--TH-2_text1);
  border-radius: 50%;
}
input[type=checkbox]:checked:after {
  background-image: url(/images/icon-check.svg), linear-gradient(to right bottom, #57ddff, #c058f3);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}
input[type=checkbox]:checked + span::before {
  display: block !important;
}
input[type=checkbox]:checked + span {
  color: var(--TH-2_text1);
}

main {
  width: var(--w);
  margin: 0 auto;
}
main .logo {
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0rem 2rem 0rem;
}
main .logo .head {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: var(--h-fs);
  font-weight: var(--fw-7);
}
main .logo .theme {
  margin-left: auto;
  justify-content: flex-end;
}
main .logo .theme .sun {
  display: var(--block);
}
main .logo .theme .moon {
  display: var(--none);
}
main .addContainer {
  width: 100%;
  justify-content: flex-start;
  padding: var(--padding);
  background: var(--TH-2_panel-bg);
  border-radius: var(--br);
  background: var(--TH-2_panel-bg);
  margin-bottom: 0.8rem;
}
main .addContainer #addList {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--fw-7);
  color: var(--TH-2_li-text);
}
main .status {
  --br: 0px 0px 5px 5px;
  --padding: 1.3rem 1rem;
  justify-content: space-between;
  padding: var(--padding);
  position: relative;
  background: var(--TH-2_panel-bg);
  border-radius: var(--br);
  color: var(--TH-2_text1);
}
main .status:after {
  content: "Drag and drop to reorder list";
  position: absolute;
  width: 100%;
  padding: 3rem 1.5rem;
  color: var(--TH-2_text1);
  left: 0;
  top: 250%;
  text-align: center;
  font-size: 14px;
  font-weight: var(--fw-7);
}
main .status .leftContainer,
main .status .clear {
  font-size: var(--t-fs);
  font-weight: var(--fw-4);
}
main .status .leftContainer .left {
  margin-right: 0.5rem;
}
main .status .clear {
  margin-left: auto;
}
main .status .stats {
  --br: 5px;
  position: absolute;
  width: 100%;
  top: 130%;
  left: 0;
  padding: var(--padding);
  background: var(--TH-2_panel-bg);
  border-radius: var(--br);
  font-weight: var(--fw-4);
}
main .status .stats a + a {
  margin-left: 1rem;
}
main .listContainer {
  --br: 5px 5px 0px 0px;
  background: var(--TH-2_panel-bg);
  border-radius: var(--br);
}
main .listContainer li {
  justify-content: flex-start;
  padding: var(--padding);
  color: var(--TH-2_li-text);
  border-bottom: 1px solid var(--TH-2_text1);
}
main .listContainer li .removeCont {
  margin-left: auto;
  width: 30px;
  height: 30px;
}
main .listContainer li .text {
  margin-right: 0.7rem;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
}
main .listContainer li .text:focus {
  border: none;
  outline: none;
}
main .listContainer li .text:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--TH-2_li-text);
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: none;
}

@media screen and (min-width: 375px) {
  body {
    background-image: var(--des-bg-dark);
  }

  main .status:after {
    top: 150%;
  }
  main .status .stats {
    position: static;
    flex: 1;
    font-size: clamp(15px, 2vw, 18px);
  }
}

/*# sourceMappingURL=style.css.map */
