@media screen and (max-width: 1050px) {
  body {
    overflow-y: visible;
  }
  .container {
    margin: 4rem auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, max-content);
  }

  .violet {
    grid-column: 1/ 2;
    grid-row: 1/ 3;
  }
  .grey {
    grid-column: 1/ 2;
    grid-row: 3/ 4;
  }
  .white {
    grid-row: 4/ 5;
    grid-column: 1/ 2;
  }
  .black {
    grid-row: 5/ 7;
    grid-column: 1/ 2;
  }
  .long {
    grid-row: 7/ 9;
    grid-column: 1/ 2;
  }
}
