$violet: hsl(263, 55%, 52%);
$gray: hsl(217, 19%, 35%);
$black: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$text: hsl(0, 0%, 81%);
$head: hsl(210, 46%, 95%); // only for text_part > head
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: $head;
  color: hsl(217, 19%, 35%);
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow-y: hidden;
}
span {
  display: inline-block;
}
img {
  display: block;
}
h3,
h4 {
  margin: 0;
}
.violet {
  color: $white;
  grid-column: 1 / 3;
  grid-row: 1/ 2;
  background: url(/images/bg-pattern-quotation.svg) no-repeat;
  background-position: 95% top;
  background-color: $violet;
}
.grey {
  background: $gray;
  color: #fff;
  grid-column: 3/ 4;
  grid-row: 1/ 2;
}
.white {
  background: $white;
  color: hsl(217, 19%, 35%);
  grid-column: 1/ 2;
  grid-row: 2/ 3;
  box-shadow: 2px 8px 26px 0px rgba($color: #000000, $alpha: 0.1);

  .profile_part {
    .profile_text {
      .profile-head {
        color: $gray;
      }
      .profile-text {
        color: $gray;
        opacity: 0.5;
      }
    }
  }
}
.profile_box.white {
  .text_part {
    .text {
      color: $gray;
      opacity: 0.7;
    }
  }
}

.black {
  background: $black;
  color: $white;
  grid-column: 2/ 4;
  grid-row: 2/ 3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 25px;
  //   height: calc(100vh - 30vh);
}
.long {
  grid-column: 4/ 5;
  grid-row: 1/ 3;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}
.profile_box {
  padding: 1rem 1.5rem;
  border-radius: 10px;

  .profile_part {
    display: flex;
    flex-flow: row;
    align-items: center;

    .profile_img {
      width: 30px;
      margin-right: 1rem;
      border-radius: 50%;

      img {
        width: 100%;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }

    .profile_text {
      h3,
      h4 {
        color: $text;
        font-weight: 500;
      }

      .profile-text {
        opacity: 0.5;
      }
      //   .profile-head{
      //        font-weight
      //   }
    }
  }

  .text_part {
    .head {
      font-weight: 600;
    }
    .text {
      line-height: 1.5;
      color: $text;
      opacity: 70%;
      font-weight: 500;
    }
  }
}
