*,
*:before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: #323437;
  overflow-x: hidden;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  display: block;
}
h1,
h3 {
  margin: 0;
}
.container {
  width: min(1440px, 90%);
  margin: 0 auto;
}
.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20vh);
  //   width: 90%;
  //   max-width: 1440px;
  //   border: 2px solid red;
  border-radius: 10px;
  background: url(/images/anime_mountain.jpg) no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  color: #fff;
  position: relative;
  z-index: 1;
  transition: 0.5s ease;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: white, $alpha: 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: -1;
  }

  &:hover:before {
    backdrop-filter: blur(0px);
  }
  .hero_head {
    transition: 0.3s ease;
    font: {
      family: verdana, sans-serif;
      size: 48px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  .hero_text {
    transition: 0.3s ease;
    font: {
      family: verdana, sans-serif;
      size: 36px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.about {
  padding: 1rem 1.5rem;

  strong {
    color: orange;
  }
}
.gallery {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 550px;
  overflow: hidden;

  .image {
    width: 33.333%;
    margin: 10px;
    opacity: 0.25;
    transition: 0.3s ease;

    img {
      max-width: 100%;
      height: 100%;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
.photos {
  //   text-align: center;
  padding: 1rem;
}

@media (max-width: 750px) {
  .gallery {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .image {
      width: 100%;
    }
  }

  .hero {
    background-position: center;
    .hero_head {
      font-size: 28px;
    }
    .hero_text {
      font-size: 22px;
      line-height: 1.5;
    }
  }
}
