*, *:before, *:after {
    box-sizing: border-box;
}
// html {}
span {
    display: inline-block;
}
body {
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}
body::before {
    content: "";
    position: absolute;
    left: -5%;
    top: 0;
    width: 30%;
    height: 85%;
    background: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 0 0 350px 350px;
    z-index: -1;
}

body::after {
    content: "";
    position: absolute;
    right: -10%;
    bottom: 0;
    width: 30%;
    height: 85%;
    background: linear-gradient(to left bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 350px 350px 0 0;
    z-index: -1;
    opacity: 0.05;
}

main{
    width: 1200px;
    // height: 700px;
    // border: 2px solid red;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    // background: red;

    .phone{
        width: 38%;
        background: #fff;
        border-radius: 2rem;
        padding: 1rem;
        box-shadow: 6px 16px 26px 0 rgba($color: #000000, $alpha: 0.15);
        .phone_screen {
            display: flex;
            flex-flow: column;
            border-radius: 30px;
            background: hsl(270, 20%, 96%);
            margin: 0;
            padding: 0;

            .chat_head {
                width: 100%;
                height: 110px;
                display: flex;
                align-items: flex-end;
                // For padding
                // padding: 3.5rem 1rem 0 1rem;  
                padding: 1rem 1rem 1rem 1rem;
                border-radius: 30px 30px 10px 10px;
                color: #fff;
                background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
                position: relative;

               span:not(.dot){
                margin-right: 10px;
                }
               .chat_head-total{ 
                   display: flex;
                   flex-flow: row;
                   width: 100%;
                   align-items: center;
                    .profile_image {
                        border-radius: 50%;
                        border: 2px solid #fff;
                        width: 40px;

                        img {
                            border-radius: 50%;
                            max-width: 100%;
                        }
                    }

                    .profile_details{

                        h5, h3 {
                            margin: 0;
                            padding: 0;
                        }
                        
                        h3{
                            font-weight: 500;
                            color:  #fff;
                        }
                        h5 {
                            font-weight: 400;
                            color: hsl(276, 100%, 81%);
                        }
                    }
                 }

                .dot{
                    margin-left: auto;
                }


                &::before {
                    content: "";
                    position: absolute;
                    top: -20%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 60%;
                    height: 50px;
                    background:#fff;
                    border-radius: 100px;
                }
            }
            .chat_body {
                width: 100%;
                // height: 590px;
                padding: 1rem;
                display: flex;
                flex-flow: column;
                
                .left_side_chat {
                    width: 60%;
                    background: rgba(146, 65, 200, 0.095);
                    color: hsl(276, 55%, 52%);
                    padding: .75rem;
                    margin-bottom: 1rem;
                    border-radius: 20px 20px 20px 5px;
                }
                .left_side_chat_3{
                    margin-top: 1rem;
                    width: 58%;
                }

              .right_side_image{
                  align-items: flex-end;
                  display: flex;
                  flex-flow: row wrap;
                  justify-content: space-around;
                  align-self: flex-end;
                  width: 70%;
                  margin-bottom: 1rem;
                  margin-top: 1rem;

                 img{
                    width: 28%;
                    // height: 28%;?
                    border-radius: 15px;
                 }
              }
            }
            .right_side_chat-1 {
                align-self: flex-end;
                width: 60%;
                padding: .5rem .5rem .5rem .75rem;
                box-shadow: 0 4px 16px 0 rgba($color: #000000, $alpha: 0.15);
                margin-bottom: 1rem;
                color: hsl(271, 15%, 43%);
                border-radius: 15px 15px 5px 15px;
            }
            .right_side_chat-2 {
                align-self: flex-end;
                width: 40%;
                padding: .7rem;
                box-shadow: 0 4px 16px 0 rgba($color: #000000, $alpha: 0.15);
                border-radius: 10px 10px 5px 10px;
                margin-bottom: 1rem;
                color: hsl(271, 15%, 43%);
            }

            .left_side_walked {
                display: inline-flex;
                flex-flow: row wrap;
                align-items: center;
                // justify-content: space-evenly;
                width: 70%;
                background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
                padding: 1rem;
                margin-bottom: 1rem;
                border-radius: 20px 20px 20px 5px;
                color: #fff;
                
                .radio_button {
                    width: 20px;    
                    height: 20px;
                    border-radius: 50%;
                    background: none;
                    border: 2px solid hsl(289, 100%, 72%);
                    margin-right: 1rem;
                }
                .walked_money{
                    margin-left: auto;
                    font-weight: 700;
                    font-size: 22px;
                    margin-right: .5rem;    
                }
            }

            // .chat_bottom {
            //     border: 2px solid orange;
            // }
            .chat_bottom {
                display: flex;
                flex-flow: row;
                width: 100%;
                background: #fff;
                padding: .5rem;
                border-radius: 100px;
                
                .chat_reply{
                    display: inline-flex;
                    align-items: center;
                    flex-grow: 2;
                    background: white;
                    color: hsl(206, 6%, 79%);
                    margin: .5rem 0 0 2rem;
        
                }
                .send_button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    background: hsl(271, 36%, 24%);
                    color: #fff;
                    border-radius: 50%;
                    font:  {
                        weight: 700;
                        size: 20px;
                    }
                }
            }
        }

    }
    .content {
        align-self: center;
        width: 50%;
        line-height: 1.5;

        .content_heading {
            color: hsl(271, 36%, 24%);
            font: {
                weight: 700;
            }
        }
        .content_text{
            width: 77%;
            color: hsl(270, 7%, 64%);
            font: {
                weight: 400;
            }
        }
      
} 

}


 @media (max-width: 1391px) {
     .container {
         width: 100%;
         flex-flow: column;
         justify-content: center;
          align-items: center;
          padding: 5rem 0;

           .phone{
               width: 90%;
               margin-bottom: 4rem;
            }

           .content{
             width: 90%;
             text-align: center;

             .content_text{
               width: 100%;
             }
                }
            }
        }


        // @media screen and (max-width: 550px) {
            
        //     .container{

        //     }
        // }