@use './utilites' as *;
.opacity1 {
    border: 2px solid var(--Orange);
    background: #fff;

    & > img {
       opacity: .25;
    }
}
.lightbox {
    position: absolute;
    inset: 0;
    // display: flex;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--lb);
    width: 100%;
    min-height: 100vh;
    z-index: 22;

    &_container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;    
        width: 450px;

        .lightbox_close {
            align-self: flex-end;
            margin-bottom: 1rem;
        }

        .lightbox_img_container {
            margin-bottom: 1.3rem;
            position: relative;

            .previous {
                display: block;
                padding: 9.5px 13px;
                background: var(--Light_grayish_blue);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: -15px;
                text-align: center;
                transform: translate(0, -50%);
            }
            .next {
                display:    block;
                padding: 9.5px 12.5px;
                background: var(--Light_grayish_blue);
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: -    15px;
                text-align: center;
                transform: translate(0, -50%);
            }
            // span + span {
            //     display: none;
            // }
            span >img {
                border-radius: var(--br-10);
            }
        }

        .lightbox_thumbnail_img_container {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;

            span {
                width: 80px;
                border-radius: var(--br-10);
                background: var(--White);
                &:hover {
                    opacity: .65;
                }

                img {
                    border-radius: var(--br-10);
                    z-index: 1;
                }
            }
            span + span {
                margin-left: 1.3rem;
            }

            
        }
    }
}
@media screen and (min-width: 768px){
    :root {
        --block: none;
        --none: block;
        // --m-r: 1.5rem;  
    }

    .opacity {
        border: 2px solid var(--Orange);

        & > img {
           opacity: .25;
        }
    }
    header {
        margin-bottom: 4rem;
        nav {
            position: static;
            min-height: 100%;
            background: var(--White);
            inset: none;
    
            ul {
                flex-flow: row;
                width:100%;
                min-height: 100%;
                background: var(--White);

                .links_container {
                    color: var(--Grayish_blue );
                    font-weight: var(--fw-400);
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        left: 0;
                        top: 305%;
                    }

                    &:hover::after{
                        background: var(--Orange);
                    }
                }
                li + li {
                    margin-bottom: 0;
                    margin-left: var(--m-r);
                }
            }
        }
        .cart {
            --m-r: 2.3rem;
        }
    }

    main {
        flex-flow: row;
        padding: 0 2rem;

        .product_img {

            --main-w-img: 50%;
            margin-right: min(10rem, 8vw);

            &_container {
                margin-bottom: 1.5rem;
                span img {
                    border-radius: var(--br-10);
                }
            }

            .thumbnail_img_container {
                --none: flex;
                --main-w-pro: 50%;
                --m-l: 1.3rem;
                justify-content: space-between;

                span {
                    width: 25%;

                    &:hover {
                        opacity: .65;
                    }
                }
            }
        }

        .product {

           margin-bottom: 0rem;

            &_name {
                font-size: min(36px, 3vw);
            }

            &_rate{
                flex-flow: column;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 1.3rem;
            
                &-now {
                    margin-bottom: 1px;
                }
                &-before {
                    margin-top: 2px;
                    margin-left: 1px;
                }
            }

            .quantity {
                flex-flow: row;

                &_container {
                    margin-bottom: 0;
                    margin-right: 1rem;
                    flex: 1;
                }

                .add_to_cart {
                    flex: 2;    
                }
            }
        }
    }
}
