@use './utlities' as *;
*,*:before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: $White-BG;
    transition: .3s ease;
}
img {
    display: inline-block;
    max-width: 100%;
}
h1, h2, p{
    margin: 0;
}
span {
    display: block;
}
.container{
    width: min(450px, 90%);
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.container + .container {
    margin-bottom: 2.5rem;
}
.red {
    color: $Bright_Red;
}
.darkBlue {
    background: $Twitter;
}

@keyframes toggleAnimation1 {
   
    100% {
        left: 9%;
        top: 53%;
    }
}
@keyframes toggleAnimation2 {
    100% {
        right:9%;
        top: 53%;
    }
}
.animation1 {
    animation: toggleAnimation1 .3s linear normal;
    animation-fill-mode: forwards;
}
.animation2 {
    animation: toggleAnimation2 .3s linear normal;
    animation-fill-mode: forwards;
}
header{
    display: flex;
    flex-flow: column;

    .title{
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid $Desaturated_Blue-Text;
        &_heading{
            font-size: 26px;
            font-weight: $large;
            margin-bottom: 4px;
            color:$Very_Dark_Blue-Text;
        }
        &_text{
            font-weight: $large;
            color: $Dark_Grayish_Blue-Text;
            font-size: 15.5px;
        }
    }
    .toggle_container{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        .mode{
            font-weight: $large;
            font-size: 14px;
            color: $Dark_Grayish_Blue-Text;
        }
        .toggle{
            width: 50px;
            height: 25px;
            border-radius: 100px;
            background: $Toggle;
            position: relative;
            transition: .3s ease;
            cursor: pointer;
            
            &:hover{
                background: linear-gradient(to right , $toggle_grad1, $toggle_grad2);
            }

            .toggler{
                position: absolute;
                right: 9%;
                top: 53%;
                transform: translate(0, -53%);
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: $White-BG;
            }
        }
    }
}

main {

    .social_media_wrapper{
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        // grid-template-rows: repeat(8, 1fr);
        margin-bottom: 2rem;

        .gradient {
            background: $Facebook;
            padding: 4px 0px 0px 0px;
            border-radius: 5px;
            margin-bottom: 1.5rem;
            cursor: pointer;
        }

        .instagram {
            background: linear-gradient(to right, $Insta_grad1, $Insta_grad2);
         }
         .yt{
             background: $Bright_Red;
         }
         .twitter  {
            background: $Twitter;
        }
        .social_container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 1.7rem 1.3rem 1.3rem 1.3rem;
            background: $Very_Pale_Blue-Top_BG_Pattern;
            border-radius: 5px;
            transition: .3s ease;

           &:hover {
               background: $Light_Grayish_Blue-Card_BG;
            // background-color: red;
           }
           

            .platform {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;

                &_img{ 
                    margin-right: .5rem;
                }
                &_owner {
                    font-weight: $large;
                    font-size: 14px;
                    color: $Dark_Grayish_Blue-Text;
                    
                }
            }

            .followers {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.3rem;

                &In_number {
                    font-size: 50px;
                    font-weight: $large;
                    color: $Very_Dark_Blue-Text;
                }
                &In_text{
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 14px;
                    font-weight: $normal;
                    color: $Dark_Grayish_Blue-Text;
                }
            }
            .today{
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;

                &In_text{
                    font-size: 14px;
                    color: $Lime_Green;
                    font-weight: $large;
                }
                &_img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 9px;
                    height: 9px;
                    margin-right: 4px;
                }
                .red {
                    color: $Bright_Red;
                }
            }
           
            
        }
    }
    .overview_wrapper{

        &_heading{
            margin-bottom: 1rem;
            font-weight: $large;
            color: $Dark_Grayish_Blue-Text;
        }

        .overview_container{
            width: 100%;  
            .overview_box{
                display: flex;
                flex-flow: column;
                width: 100%;
                background: $Very_Pale_Blue-Top_BG_Pattern;
                padding: 1.5rem 1.5rem 1rem 1.5rem;
                margin: 0 auto; 
                border-radius: 5px;
                margin-bottom: 1rem;
                transition: .3s ease;
                cursor: pointer;


                
                &:hover{
                    background: $Light_Grayish_Blue-Card_BG;
                }

                .section{
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                   

                    &_text{
                        font-size: 14px;
                        font-weight: $large;
                        color: $Dark_Grayish_Blue-Text;
                    }
                }
                .countdown{
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    align-items: center;

                    &In_number{
                        font-size: 32px;
                        font-weight: $large;
                        color: $Very_Dark_Blue-Text;
                    }
                    &In_percentage{
                        display: flex;
                        flex-flow: row;
                        font-size: 14px;
                        font-weight: $large;
                        color: $Lime_Green;

                        &_img{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 4px;
                        }

                    }
                }
            }
        }
    }
}