:root{
    --Dark_Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very_Dark_Gray: hsl(0, 0%, 27%);
    --fs: 12px;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --ff: 'Spartan', sans-serif;
    --block: block;
    --none: none;
    --flex: flex;
    --t-w: min(450px, 85%);
    --part-w: min(675px, 100%);
}
