:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale_orange: hsl(25, 100%, 94%);
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black:hsl(0, 0%, 0%);
    --lb: rgba(0,0,0, .75);
    --fs: 16px;
    --fw-400: 400;
    --fw-700: 700;
    --m-r: 1.3rem;
    --br-0: 0px;
    --br-5: 5px;
    --br-10: 10px;
    --br-100: 100px;
    --br-50: 50%;
    --ff: 'Kumbh Sans', sans-serif;
    --block: block;
    --none: none;
    --main-w-img: min(450px, 100%);
    --main-w-pro: min(450px, 90%);
}