$Lime_Green: hsl(163, 72%, 41%);
$Bright_Red: hsl(356, 69%, 56%);
$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Toggle: hsl(230, 22%, 74%);

// gradient:-
$Insta_grad1: hsl(37, 97%, 70%);
$Insta_grad2: hsl(329, 70%, 58%);

// darktheme Gradient:-
$toggle_grad1: hsl(210, 78%, 56%);
$toggle_grad2: hsl(146, 68%, 55%);

// Dark Theme:-
$Very_Dark_Blue_BG: hsl(230, 17%, 14%);
$Very_Dark_Blue_Top-BG_Pattern: hsl(232, 19%, 15%);
$Dark_Desaturated_Blue-Car_BG: hsl(228, 28%, 20%);
$Desaturated_Blue-Text: hsl(228, 34%, 66%);
$White-Text: hsl(0, 0%, 100%);

// Light Theme:-
$White-BG: hsl(0, 0%, 100%);
$Very_Pale_Blue-Top_BG_Pattern: hsl(225, 100%, 98%);
$Light_Grayish_Blue-Card_BG: hsl(227, 47%, 96%);
$Dark_Grayish_Blue-Text: hsl(228, 12%, 44%);
$Very_Dark_Blue-Text: hsl(230, 17%, 14%);

// fonts:-
$normal: 400;
$large: 700;