*, *:before, *:after {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 0;
  width: 30%;
  height: 85%;
  background: linear-gradient(to left bottom, #e942ff, #8838ff);
  border-radius: 0 0 350px 350px;
  z-index: -1;
}

body::after {
  content: "";
  position: absolute;
  right: -10%;
  bottom: 0;
  width: 30%;
  height: 85%;
  background: linear-gradient(to left bottom, #e942ff, #8838ff);
  border-radius: 350px 350px 0 0;
  z-index: -1;
  opacity: 0.05;
}

main {
  width: 1200px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.container .phone {
  width: 38%;
  background: #fff;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 6px 16px 26px 0 rgba(0, 0, 0, 0.15);
}
.container .phone .phone_screen {
  display: flex;
  flex-flow: column;
  border-radius: 30px;
  background: #f5f3f7;
  margin: 0;
  padding: 0;
}
.container .phone .phone_screen .chat_head {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: flex-end;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 30px 30px 10px 10px;
  color: #fff;
  background: linear-gradient(to left, #e942ff, #8838ff);
  position: relative;
}
.container .phone .phone_screen .chat_head span:not(.dot) {
  margin-right: 10px;
}
.container .phone .phone_screen .chat_head .chat_head-total {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
}
.container .phone .phone_screen .chat_head .chat_head-total .profile_image {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
}
.container .phone .phone_screen .chat_head .chat_head-total .profile_image img {
  border-radius: 50%;
  max-width: 100%;
}
.container .phone .phone_screen .chat_head .chat_head-total .profile_details h5, .container .phone .phone_screen .chat_head .chat_head-total .profile_details h3 {
  margin: 0;
  padding: 0;
}
.container .phone .phone_screen .chat_head .chat_head-total .profile_details h3 {
  font-weight: 500;
  color: #fff;
}
.container .phone .phone_screen .chat_head .chat_head-total .profile_details h5 {
  font-weight: 400;
  color: #d89eff;
}
.container .phone .phone_screen .chat_head .dot {
  margin-left: auto;
}
.container .phone .phone_screen .chat_head::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: 50px;
  background: #fff;
  border-radius: 100px;
}
.container .phone .phone_screen .chat_body {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column;
}
.container .phone .phone_screen .chat_body .left_side_chat {
  width: 60%;
  background: rgba(146, 65, 200, 0.095);
  color: #9241c8;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 20px 20px 20px 5px;
}
.container .phone .phone_screen .chat_body .left_side_chat_3 {
  margin-top: 1rem;
  width: 58%;
}
.container .phone .phone_screen .chat_body .right_side_image {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-self: flex-end;
  width: 70%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.container .phone .phone_screen .chat_body .right_side_image img {
  width: 28%;
  border-radius: 15px;
}
.container .phone .phone_screen .right_side_chat-1 {
  align-self: flex-end;
  width: 60%;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  color: #6e5d7e;
  border-radius: 15px 15px 5px 15px;
}
.container .phone .phone_screen .right_side_chat-2 {
  align-self: flex-end;
  width: 40%;
  padding: 0.7rem;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 5px 10px;
  margin-bottom: 1rem;
  color: #6e5d7e;
}
.container .phone .phone_screen .left_side_walked {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  width: 70%;
  background: linear-gradient(to right, #e942ff, #8838ff);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px 20px 20px 5px;
  color: #fff;
}
.container .phone .phone_screen .left_side_walked .radio_button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none;
  border: 2px solid #e570ff;
  margin-right: 1rem;
}
.container .phone .phone_screen .left_side_walked .walked_money {
  margin-left: auto;
  font-weight: 700;
  font-size: 22px;
  margin-right: 0.5rem;
}
.container .phone .phone_screen .chat_bottom {
  display: flex;
  flex-flow: row;
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  border-radius: 100px;
}
.container .phone .phone_screen .chat_bottom .chat_reply {
  display: inline-flex;
  align-items: center;
  flex-grow: 2;
  background: white;
  color: #c6cacd;
  margin: 0.5rem 0 0 2rem;
}
.container .phone .phone_screen .chat_bottom .send_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #3e2753;
  color: #fff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 20px;
}
.container .content {
  align-self: center;
  width: 50%;
  line-height: 1.5;
}
.container .content .content_heading {
  color: #3e2753;
  font-weight: 700;
}
.container .content .content_text {
  width: 77%;
  color: #a39daa;
  font-weight: 400;
}

@media (max-width: 1391px) {
  .container {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }
  .container .phone {
    width: 90%;
    margin-bottom: 4rem;
  }
  .container .content {
    width: 90%;
    text-align: center;
  }
  .container .content .content_text {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
